
.menu-btn:focus {
  outline:none;
}

#p-id {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

#p-id #span-id {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  -webkit-font-smoothing: antialiased;
}

#p-id #span-id::before,
#p-id #span-id::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out .3s;
  content: attr(data-text);
}

#p-id #span-id::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  transform: scale(1.1,1) skew(0deg,20deg);
}

#p-id #span-id::after {
  z-index: 2;
  color: #348185;
  text-shadow: -1px 0 1px #285E61db,
                1px 0 1px #fff;
  transform: rotateY(-33deg);
}

.liz {
  transform: rotateY(-12deg) !important;
}

#p-id #span-id:hover::before { transform: scale(1.1,1) skew(0deg,5deg); }

#p-id #span-id:hover::after { transform: rotateY(-10deg); }

#p-id #span-id + #span-id { margin-left: .2em; }

@media (min-width: 20em) {
  #p-id { font-size: 20px; }

  #p-id #span-id::before,
  #p-id #span-id::after {
    display: block;
  }
}

@media (min-width: 480px) {
  #p-id { font-size: 30px; }
}

@media (min-width: 40em) {
  #p-id { font-size: 30px; }
}

@media (min-width: 60em) {
  #p-id { font-size: 55px; }
} 

.brand {
  margin-left: 3%;
  width: 100%;
}
/*
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
}

<Image
              className="object-cover object-center rounded"
              alt="hero"
              src="https://res.cloudinary.com/dj3qdir59/image/upload/v1642443909/altumcode-mCj7UinqOYQ-unsplash_ycf0uu.jpg"
              width="550"
              height="750"
            />
*/

/* test */ 
.box {
  position: relative;
  width: 550px;
  height: 750px;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://res.cloudinary.com/dj3qdir59/image/upload/v1642443909/altumcode-mCj7UinqOYQ-unsplash_ycf0uu.jpg) 50% 50% / cover no-repeat;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  transition: .5s ease;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.hover-point:nth-child(2):hover ~ .box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.hover-point:nth-child(3):hover ~ .box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.hover-point:nth-child(4):hover ~ .box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.hover-point:nth-child(6):hover ~ .box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.hover-point:nth-child(7):hover ~ .box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.hover-point:nth-child(8):hover ~ .box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

/*
.hero-background {
  background: rgb(252,70,107);
  background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
  background-blend-mode: screen;
  height: 100vh;
  text-align:center;
  background-repeat: no-repeat;
}
*/ 
.hero-background {
  background-image: linear-gradient(-45deg, #fd4007, #831170, #1b6b88, #1db390);
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}