
.menu-btn:focus {
  outline:none;
}

#p-id {
  color: #fff;
  font-size: 1em;
  font-weight: 700;
}

#p-id #span-id {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
  -webkit-font-smoothing: antialiased;
}

#p-id #span-id::before,
#p-id #span-id::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out .3s;
  content: attr(data-text);
}

#p-id #span-id::before {
  z-index: 1;
  color: rgba(0,0,0,0.2);
  transform: scale(1.1,1) skew(0deg,20deg);
}

#p-id #span-id::after {
  z-index: 2;
  color: #348185;
  text-shadow: -1px 0 1px #285E61db,
                1px 0 1px #fff;
  transform: rotateY(-33deg);
}

.liz {
  transform: rotateY(-12deg) !important;
}

#p-id #span-id:hover::before { transform: scale(1.1,1) skew(0deg,5deg); }

#p-id #span-id:hover::after { transform: rotateY(-10deg); }

#p-id #span-id + #span-id { margin-left: .2em; }

@media (min-width: 20em) {
  #p-id { font-size: 20px; }

  #p-id #span-id::before,
  #p-id #span-id::after {
    display: block;
  }
}

@media (min-width: 480px) {
  #p-id { font-size: 30px; }
}

@media (min-width: 40em) {
  #p-id { font-size: 30px; }
}

@media (min-width: 60em) {
  #p-id { font-size: 55px; }
} 

.brand {
  margin-left: 3%;
  width: 100%;
}
/*
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3498db;
}

<Image
              className="object-cover object-center rounded"
              alt="hero"
              src="https://res.cloudinary.com/dj3qdir59/image/upload/v1642443909/altumcode-mCj7UinqOYQ-unsplash_ycf0uu.jpg"
              width="550"
              height="750"
            />
*/

/* test */ 
.box {
  position: relative;
  width: 550px;
  height: 750px;
}
.box-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(https://res.cloudinary.com/dj3qdir59/image/upload/v1642443909/altumcode-mCj7UinqOYQ-unsplash_ycf0uu.jpg) 50% 50% / cover no-repeat;
  box-shadow: 0 0 50px rgba(0, 0, 0, .3);
  transition: .5s ease;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.hover-point:nth-child(1) {
  top: 0;
  left: 0;
}
.hover-point:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(3) {
  top: 0;
  right: 0;
}
.hover-point:nth-child(4) {
  top: calc(100% / 3);
  left: 0;
}
.hover-point:nth-child(5) {
  top: calc(100% / 3);
  right: 0;
}
.hover-point:nth-child(6) {
  bottom: 0;
  left: 0;
}
.hover-point:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.hover-point:nth-child(8) {
  bottom: 0;
  right: 0;
}
.hover-point:nth-child(1):hover ~ .box-contents {
  box-shadow: 15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: right top;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg) rotateZ(2deg);
}
.hover-point:nth-child(2):hover ~ .box-contents {
  box-shadow: 0 15px 50px rgba(0, 0, 0, .3);
  transform-origin: center top;
  transform: perspective(1000px) rotateX(10deg);
}
.hover-point:nth-child(3):hover ~ .box-contents {
  box-shadow: -15px 15px 50px rgba(0, 0, 0, .3);
  transform-origin: left top;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg) rotateZ(-2deg);
}
.hover-point:nth-child(4):hover ~ .box-contents {
  box-shadow: 15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: left center;
  transform: perspective(1000px) rotateY(-10deg);
}
.hover-point:nth-child(5):hover ~ .box-contents {
  box-shadow: -15px 5px 50px rgba(0, 0, 0, .3);
  transform-origin: right center;
  transform: perspective(1000px) rotateY(10deg);
}
.hover-point:nth-child(6):hover ~ .box-contents {
  box-shadow: 15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: right bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg) rotateZ(-2deg);
}
.hover-point:nth-child(7):hover ~ .box-contents {
  box-shadow: 0 -15px 50px rgba(0, 0, 0, .3);
  transform-origin: center bottom;
  transform: perspective(1000px) rotateX(-10deg);
}
.hover-point:nth-child(8):hover ~ .box-contents {
  box-shadow: -15px -15px 50px rgba(0, 0, 0, .3);
  transform-origin: left bottom;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) rotateZ(2deg);
}

/*
.hero-background {
  background: rgb(252,70,107);
  background: radial-gradient(circle, rgba(252,70,107,1) 0%, rgba(63,94,251,1) 100%);
  background-blend-mode: screen;
  height: 100vh;
  text-align:center;
  background-repeat: no-repeat;
}
*/ 
.hero-background {
  background-size: 400% 400%;
   background-color: #140816;   
  height: 100vh;
  overflow: hidden;
} 

/* style and animate hero font*/
.hero-text { 
 background-image: linear-gradient(
   -45deg,
   #FF5E62  0%,
   #FF5E62  29%,
   #FF9966 67%,
   #FF9966 100%
 );
 background-size: auto auto; 
 background-size: 200% auto;
 color: #fff;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 animation: textclip 5s ease-in-out infinite;
}

@keyframes textclip {
  0% {background-position: 50% center;}
  100% {background-position: 75% center;}
}




/* Animate bounce for arrow */
.arrow-bounce {
  animation: key1 .3s ease infinite alternate;
}

@keyframes key1{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}

.hero-section-b {
  height: 100vh;
  background-color: #FBF6F3;
}

.hero-section-c {
  background-color: #FBF6F3;
}


/* Hide scrollbar */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hero buttons */
.container{ 
  height:100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  margin-top: 15%;
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration:none;
  font-family: 'Roboto', sans-serif;
  font-weight:900;
  font-size:17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect { 
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span{
  background: #FF5E62;
  background: -moz-linear-gradient(left, #FF5E62 0%, #FF9966 100%);
  background: -webkit-linear-gradient(left, #FF5E62 0%, #FF9966 100%);
  background: linear-gradient(to right, #FF5E62 0%, #FF9966 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8282', endColorstr='#e178ed',GradientType=1 );
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}

/* TEST */
@keyframes lineanim {
  to {
    stroke-dashoffset: 0;
  }
}

#animate {
  position: relative;
  /* margin-left: 10%; */
  top: 50%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
} 

#animate path:nth-child(2) {
/*E*/
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease forwards;
}

#animate path:nth-child(3) {
/*L*/
stroke-dasharray: 400;
stroke-dashoffset: 400;
stroke-linecap: square; 
animation: lineanim 6.5s ease .3s forwards; 
}

#animate path:nth-child(4) {
/*I*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
stroke-linecap: square;
animation: lineanim 6.5s ease .6s forwards;  
}

#animate path:nth-child(5) {
/*s*/
stroke-dasharray: 598;
stroke-dashoffset: 598;
animation: lineanim 6.5s ease .9s forwards;  
}

#animate path:nth-child(6) {
/*A*/
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 1.2s forwards;
}

#animate path:nth-child(7) {
/*B*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 1.5s forwards;
}

#animate path:nth-child(8) {
/*E*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 1.8s forwards;
}

#animate path:nth-child(9) {
/*T*/ 
stroke-dasharray: 800;
stroke-dashoffset: 800;
animation: lineanim 6.5s ease 2.1s forwards;
}

#animate path:nth-child(10) {
 /*H*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 4.5s ease 3s forwards;
} 

#animate path:nth-child(11) {
 /*a*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 


#animate path:nth-child(12) {
 /*s*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 

#animate path:nth-child(13) {
 /*h*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 

#animate path:nth-child(14) {
 /*l*/ 
stroke-linecap: square;
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 

#animate path:nth-child(15) {
 /*e*/ 
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 

#animate path:nth-child(16) {
 /*y*/ 
stroke-linecap: square;
stroke-dasharray: 572;
stroke-dashoffset: 572;
animation: lineanim 6.5s ease 3s forwards;
} 

