@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Marcellus+SC&family=Paytone+One&display=swap');

.font-nunito {
    font-family: nunito, sans-serif;
}

.font-MyFont {
    font-family: "My Font", serif;
}

.font-poiret {
    font-family: 'Poiret One', cursive; 
}

.font-arimo {
    font-family: 'Arimo', sans-serif;
}

.font-passions {
    font-family: 'Passions Conflict', cursive;
}

.font-gravitas {
    font-family: 'Gravitas One', cursive;
}